{% load static %}<!DOCTYPE html>
<html lang="{{ html_lang }}" dir="{{ html_dir }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <title>{% block title %}{{ site_title }} - {{ site_subtitle }}{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'vendor/cairo/cairo.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/tajawal/tajawal.css' %}">
  {% if html_dir == 'ltr' %}
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.min.css' %}">
  {% else %}
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.rtl.min.css' %}">
  {% endif %}
  <link rel="stylesheet" href="{% static 'vendor/fontawesome/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}?v=6">
  {% block extra_css %}{% endblock %}
  <link rel="stylesheet" href="{% static 'css/brand.css' %}?v=1">
</head>
<body class="{% block body_class %}{% endblock %}">
  {% block body %}
    {% block header %}{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
  {% endblock %}

  <script src="{% static 'vendor/bootstrap/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}?v=6"></script>
  {% block extra_js %}{% endblock %}
</body>
</html>
